<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="create_user_succ.css">
<style>
body{
    text-align: center; 
}
</style>
<meta charset="utf-8"/>




<!-- <script type="text/javascript" src="client.js"></script> -->
</head>


<body>
    <div class="wordart radial text" style="text-align: center">BLACKJACK</div><br><br>
	<h1>Thank you for making an account!</h1>
	<h2>Check your email for your password then click here to login</h2>
    <form method="GET"  action="/" >
    	<input type="Submit" value="Login Here" />
    </form>
    <script>document.bgColor = '#518d20';</script>
</body>
</html>
